body{
    background-color:#000000;
}
#video{
  width:650;
  height: 490;
  -webkit-transform:scaleX(-1);
  transform:scaleX(-1);
  display: block;
  margin-top: 100px;
  margin-bottom: 100px;
}
#capture{
  width: 150px;
  height: 150px;
  background-color: #909090;
  border: 10px solid #FFFFFF;
  outline: none;
  border-radius: 50%;
}
#canvas{
  -webkit-transform:scaleX(-1);
  transform:scaleX(-1);
}
