.body{
  background-color: #000000;
  overflow: hidden;
}
#cam_live{
  -webkit-transform:scaleX(-1);
  transform:scaleX(-1);
  display: block;
  margin-top: 0px;
  margin-bottom: 200px;
}
#cam_capture{
  width: 190px;
  height: 190px;
  background-color: #909090;
  border: 10px solid #FFFFFF;
  outline: none;
  border-radius: 50%;
}
#camdown_canvas{
  -webkit-transform:scaleX(-1);
  transform:scaleX(-1);
  display: block;
  margin: 0px;
  margin-bottom: 200px;
  float: center;
}
#camdown_get{
  background-color: #FFFFFF;
  color: #000000;
  font-size: 60px;
  font-weight: bold;
  width: 190px;
  height: 190px;
  outline: none;
  border-radius: 50%;
  float: center;
}
