.body{
  background-color: #000000;
  overflow: auto;
}
.body::-webkit-scrollbar{
  background-color: #000000;
  border:0px;
  width: 1px;
}
.body::-webkit-scrollbar-thumb{
  background-color: #000000;
}
#video{
  width:100%;
  height: 100%;
  -webkit-transform:scaleX(-1);
  transform:scaleX(-1);
  display: block;
  margin-top: 0px;
  margin-bottom: 200px;
}
#capture{
  width: 190px;
  height: 190px;
  background-color: #909090;
  border: 10px solid #FFFFFF;
  outline: none;
  border-radius: 50%;
}
#canvas{
  -webkit-transform:scaleX(-1);
  transform:scaleX(-1);
  margin: 0px;
  margin-bottom: 200px;
}
#get{
  background-color: #FFFFFF;
  color: #000000;
  font-size: 60px;
  font-weight: bold;
  width: 190px;
  height: 190px;
  outline: none;
  border-radius: 50%;
}
